<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" href="style.css" data-inline>
</head>

<body>
    <div>
        <p>Hi,<br/>Welcome to the Participatory Learning system! You have successfully set up a new instance of the PL system as an administrator and the first user. To login, please visit the following link: https://pla.njit.edu:<%= port %></p>
        <p>Login ID: <%= email %></p>
        <p>For technical support for the Participatory Learning system, contact:
        <a mailto:bieber@njit.edu>bieber@njit.edu</a></p>
        <p>Thanks,</p>
        <p>The Participatory Learning Team</p>
    </div>
</body>

</html>