<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" href="style.css" data-inline>
</head>

<body>
    <div>
        <p>Next Steps for PL Password Reset...</p>
        <p>Hello,,</p><br>
        <p>Your password has been reset for the Participatory Learning system. Please log into the system now to complete the password change. You will be asked to enter the following temporary password, and then to make a new password.</p>
        <p>System login: https://pla.njit.edu:<%= port %></p>
        <p>Login ID: <%=email></p>
        <p> Temporary Password: ${data.pass}</p>
        <p>For technical support for the Participatory Learning system, contact:
        <a mailto:bieber@njit.edu>bieber@njit.edu</a></p>
        <p>Thanks,</p>
        <p>The Participatory Learning Team</p>
    </div>
</body>

</html>